<h1> {{ name }}</h1>
    <h2>{{price}}</h2>

<a href="/products/edit/{{id}}">Edit</a>
<a href="/products/delete/{{id}}">Delete</a>
<hr />

<a href="/categories/{{categoryId}}">View all {{ categoryName }}</a>
<a href="/products">View all products</a>